* {
            font-family: 'Microsoft YaHei', Helvetica, sans-serif;
        }

        body {
            background-image: url('../images/background.jpg');
            background-attachment:fixed;
        }
        video {
        	height: 100%;
        	width: 100%;
        }
        .text-center {
        	color: black;
        }
        .panel-body {
        	text-align: center;
        }
        .img-center {
        	height: 144px;
        	width: 256px;
        }
        .layout {
        	text-align: center;
        }
        .info {
        	width: 320px;
        	float: left;
        	text-align: left;
        }